/* =================
	general
   ================= */
#panel {
    --primary: #da291c;
    --secondary: #1b1b1b;
    --block-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);

    --main-background: #eaeaea;
    --frame-bg: #fff;
    --nav-bar-bg: var(--primary);
    --side-bar-bg: #474747;
    --close-btn-color: #979797;

    --sec-cta-color: #fff;
    --sec-cta-bg: var(--primary);
    --sec-cta-hover-color: var(--sec-cta-bg);
    --sec-cta-hover-bg: transparent;

    --tab-button-bg: transparent;
    --tab-button-color: #fff;
    --tab-button-current-bg: transparent;
    --tab-button-current-color: #fff;
    --tab-button-hover-bg: transparent;
    --tab-button-hover-color: #fff;
}

#panel {
    width: 914px;
    height: 640px;
    background-color: var(--main-background);
}

/* close button */
#expansion-close {
    top: 47px;
    right: 30px;
    width: 36px;
    height: 36px;
}

#expansion-close svg {
    top: 45%;
}

#expansion-close path {
    stroke: var(--close-btn-color);
    stroke-width: 8;
}

/*
	links
   ================= */
a.custom-link.main-cta {
    position: absolute;
    top: 128px;
    left: 48px;
    width: 128px;
    height: 55px;
    background: url(images/logo.png) center no-repeat;
    background-size: contain;
    transition: transform 0.3s;
    z-index: 99;
}

a.custom-link.sec-cta {
    position: absolute;
    bottom: 45px;
    right: 68px;
    display: grid;
    width: 180px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background-color: var(--sec-cta-bg);
    color: var(--sec-cta-color);
    font-size: 18px;
    text-decoration: none;
    border: 2px solid var(--sec-cta-bg);
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.2s;
    z-index: 99;
}

a.custom-link.sec-cta span {
    display: block;
}

a.custom-link.main-cta:hover {
    transform: scale(1.05);
}

a.custom-link.sec-cta:hover {
    background-color: var(--sec-cta-hover-bg);
    color: var(--sec-cta-hover-color);
}

/* =================
	navigation bar
   ================= */
.layout-nav-bar {
    top: 87px;
    bottom: 145px;
    left: 30px;
    width: 166px;
    background-color: var(--nav-bar-bg);
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    box-shadow: var(--block-shadow);
}

.layout-nav-bar #layout-tabs {
    position: relative;
    top: 145px;
}

ul.layout-tab-holder {
    display: grid;
    gap: 25px;
}

li.tab-button {
    position: relative;
    height: auto;
    background-color: var(--tab-button-bg);
    color: var(--tab-button-color);
    font-size: 15px;
    line-height: 1.2;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    opacity: 1;
    transform: none !important;
}

span.tab-title {
    display: inline;
}

li.tab-button:hover {
    background-color: var(--tab-button-hover-bg);
    color: var(--tab-button-hover-color);
}

li.tab-button.current {
    background-color: var(--tab-button-current-bg);
    color: var(--tab-button-current-color);
}

li.tab-button:hover,
li.tab-button.current {
    opacity: 1;
    transform: none;
}

/* =================
	side bar
   ================= */
.layout-side-bar {
    top: 83px;
    bottom: auto;
    right: 30px;
    width: 37px;
    background-color: var(--side-bar-bg);
    border-radius: 0 10px 10px 0;
}

.layout-side-bar:not(:has(a.social-button)) {
    display: none;
}

#social-buttons {
    position: relative;
    top: 0;
    bottom: auto;
    display: grid;
    width: 100%;
    gap: 10px;
    margin: 15px 0;
}

.sl-header {
    height: auto;
    line-height: 1;
}

.sl-header::before {
    content: 'follow\a us on';
    white-space: pre-wrap;
}

.sl-buttons {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
}

.social-button {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 0;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

.social-button:hover {
    opacity: 0.5;
}

/* social items */
.facebook-social-icon {
    background-image: url(images/facebook-icon.png);
}

.linkedin-social-icon {
    background-image: url(images/linkedin-icon.png);
}

.twitter-social-icon {
    background-image: url(images/twitter-icon.png);
}

/* =================
	footer
   ================= */
.layout-footer {
    bottom: 45px;
    left: 200px;
    width: 400px;
    height: 42px;
}

.message-lines {
    width: 100%;
}

.message.active,
.message.in,
.message.out,
.massage-preview.active,
.massage-preview.in,
.massage-preview.out {
    display: grid;
}

.message {
    grid-template-columns: 20px 1fr;
    gap: 5px;
}

.message-icon {
    position: static;
    width: 100%;
    background: url(images/message-icon.png) center no-repeat;
    background-size: contain;
}

.message-text {
    position: relative !important;
    left: 0;
    width: 100%;
    color: #000;
    font-size: 15px;
    overflow: hidden;
}

.message-text span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    line-height: 1.2;
    padding: 0;
    box-sizing: border-box;
}

/* =================
	content
   ================= */
#tab-frames {
    inset: 41px 66px 99px 195px;
    background-color: var(--frame-bg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--block-shadow);
    z-index: 9;
}

.gl-horizontal .gl-slide-holder {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.gl-slide {
    background: transparent;
}

/*
	Video tab
   ================= */
.video_tab-component {
    background-color: #000;
}

.gl-video-tag {
    top: calc(50% - 368px / 2);
    height: 368px;
}

.vjs-poster {
    background-size: cover;
}

.video-js .vjs-big-play-button {
    display: none;
}

/*
	Gallery tab
   ================= */
.gallery_tab-component .gl-slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.85) 90%);
}

.gl-slide-desc {
    position: absolute;
    bottom: 25px;
    display: grid;
    width: 100%;
    gap: 5px;
    color: #fff;
    font-size: 16.5px;
    text-align: center;
}

.title {
    font-size: 20.5px;
    font-weight: 700;
}

/*
	Store Locator tab
   ================= */
.locator_map {
    left: 0;
    width: 360px;
}

/* form */
.locator_form {
    top: 17px;
    left: 25px;
    width: 310px;
    height: 40px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.loc_form_cell {
    width: 100%;
    height: 100%;
}

.loc_search_text {
    width: 100%;
    height: 100%;
    border-width: 0;
    border-radius: 0;
    padding: 0 45px;
    box-sizing: border-box;
}

.loc_search_button {
    position: absolute;
    top: 0;
    width: 45px;
    height: 100%;
    background: url(images/search-icon.png) center no-repeat transparent;
    background-size: contain;
    background-origin: content-box;
    font-size: 0;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.loc_inner {
    color: var(--primary);
    padding: 10px 20px;
}

.loc.loc_name {
    font-family: 'LandRoverWeb', sans-serif;
    line-height: 1;
}

/* slider */
.locator_slider {
    top: 0;
    left: 360px;
    right: 0;
    display: block;
    width: auto;
    height: 180px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.locator_slide_holder {
    inset: 0;
}

.locator_slider .loc_inner {
    display: grid;
    grid-template-areas: 'distance' 'name' 'address';
    gap: 5px;
    padding: 25px;
}

.locator_slider .loc.loc_name {
    grid-area: name;
    font-size: 20px;
}

.locator_slider .loc.loc_address {
    grid-area: address;
    font-size: 15px;
}

.locator_slider .loc_distance {
    display: block;
    grid-area: distance;
    order: 1;
    font-size: 24px;
    line-height: 1;
}

.locator_slider .loc_distance::after {
    content: ' km';
    font-size: 0.5em;
}

/* list */
.locator_list {
    top: 180px;
    left: 360px;
    right: 0;
    width: auto;
    background: #fff;
}

.locator_list .scroller-handler {
    background: #d8d8d8;
}

.loc_row {
    border: none;
}

.locator_list .loc.loc_name {
    font-size: 13px;
    margin-bottom: 5px;
}

.loc.loc_name {
    font-weight: 700;
}

.loc.loc_address {
    font-size: 12px;
    font-weight: 500;
}

.gmnoprint.gm-style-mtc,
.locator_slide_next,
.locator_slide_prev,
.loc_post_load .locator_form,
.gm-control-active.gm-fullscreen-control,
.gm-style-iw-a,
.loc_search_label,
.loc_radius_label,
.loc_radius_select,
.loc:not(.loc_distance, .loc_name, .loc_address) {
    display: none;
}

/* =================
	others
   ================= */
.tab-icon,
.sl-header,
.sl-footer,
.social-button > *,
.message-icon > *,
.message-sep,
.gl-thumbs,
.gl-thumb-prev,
.gl-thumb-next {
    display: none !important;
}
