/* ================
	general
   ================ */
#panel {
  --primary: #5e123b;

  --cbl-background: var(--primary);
  --nav-bar-color: #fff;
  --tab-names-color: #fff;
  --menu-icon-color: #fff;
  --close-button-color: #fff;

  --sec-cta-bg: #fff;
  --sec-cta-color: var(--primary);

  --tab-button-bg: #fff;
  --tab-button-color: var(--primary);
  --tab-button-current-bg: var(--primary);
  --tab-button-current-color: #fff;
}

/*
	links
   ================ */
[data-rd='lr'] a.custom-link.main-cta {
  --width: 16.9vw;
  --height: 13.9vw;
  background: url(images/logo.png) center no-repeat;
  background-size: contain;
}

[data-rd='lr'] a.custom-link.sec-cta {
  bottom: calc(6vh - 9.5vw / 2);
  right: 12vw;
  display: grid;
  width: 42vw;
  height: 9.5vw;
  align-items: center;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  box-sizing: border-box;
  z-index: 9;
}

/* ==================
	controls
   ================== */
[data-rd='lr'] div#tab_names {
  left: 14vw;
  font-size: 3vw;
}

div#tab_names > div {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

div#tab_names,
div#tab_names > div {
  pointer-events: none !important;
}

.tab-button-content {
  font-size: 4vw;
  font-weight: 700;
  padding: 0.75em 0.5em;
}

[data-rd='lr'] #nav_bar {
  left: 12vw;
}

.nav_arrow {
  display: none;
}

/* ================
	content
   ================ */
div.cbl_card[data-card-pos] {
  z-index: 9 !important;
}

/*
	Video tab
   ================= */
.video_tab-component .cbl_card_content {
  --cbl-card-content-bg: #000;
}

.cbl div.gl-video-tag {
  height: auto;
  aspect-ratio: 16 / 9;
}

/*
	Gallery tab
   ================= */
.gl-slide-image {
  background-size: cover !important;
  background-position: center !important;
}

/*
	Locator tab (slider)
   ================= */
.cbl .locator {
  grid-template-rows: 198px 1fr;
  gap: 0;
}

/* form */
.cbl form.locator_form {
  --search-button-width: 45px;
  top: 10px;
  width: 240px;
  height: 33px;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.cbl input.loc_search_text,
.cbl button.loc_search_button {
  border: none;
}

.cbl input.loc_search_text {
  width: calc(100% - var(--search-button-width));
  background-color: transparent;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.cbl button.loc_search_button {
  width: var(--search-button-width);
  background: url(images/search-icon.png) center no-repeat;
  background-size: 50%;
}

/* loc inner */
.loc_inner {
  display: grid;
  height: 100%;
  grid-template-areas: 'distance' 'name' 'address';
  align-content: center;
  gap: 8px;
  line-height: 1;
  padding: 0 10px;
}

.loc.loc_distance {
  display: block;
  grid-area: distance;
  font-size: 28px;
  font-weight: 700;
}

.loc.loc_distance::after {
  content: ' km';
  font-size: 0.65em;
}
.loc.loc_name {
  grid-area: name;
  font-size: 17px;
  font-weight: 700;
}

.loc.loc_address {
  grid-area: address;
  font-size: 16px;
}

/* arrows */
.locator_slide_prev,
.locator_slide_next {
  top: calc(50% - 50px / 2);
  width: 20px;
  height: 50px;
  background: url(images/locator-arrow.png) center no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
}

.locator_slide_prev {
  transform: rotate(180deg);
}

/* disabled */
.gmnoprint.gm-style-mtc,
.gm-style .gm-style-iw-t,
button.gm-control-active.gm-fullscreen-control,
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom,
.cbl button.loc_search_button span,
.loc:not(.loc_distance, .loc_name, .loc_address) {
  display: none;
}

/*
	Locator tab (more locations)
   ================= */
.cbl .locator {
  grid-template-areas: 'loc_map' 'loc_inner' 'more';
  grid-template-rows: 200px 1fr max-content;
  gap: 0;
}

.locator_map {
  grid-area: loc_map;
}

.locator_slide_holder {
  inset: 0 !important;
}

/* form */
.cbl form.locator_form {
  --search-button-width: 30px;
  top: 10px;
  width: 228px;
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.cbl input.loc_search_text,
.cbl button.loc_search_button {
  border: none;
}

.cbl input.loc_search_text {
  width: calc(100% - var(--search-button-width));
  justify-self: end;
  background-color: transparent;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.cbl button.loc_search_button {
  width: var(--search-button-width);
  justify-self: start;
  background: url(images/search-icon.png) center no-repeat;
  background-size: 50%;
}

/* loc inner */
.loc_inner {
  display: grid;
  height: 100%;
  grid-template-areas:
    'distance'
    'name'
    'address';
  grid-area: loc_inner;
  align-content: center;
  gap: 5px;
  line-height: 1;
  box-sizing: border-box;
}

.locator_list .loc_inner {
  grid-template-areas:
    'name'
    'address';
}

.locator_slider .loc.loc_distance {
  display: block;
  grid-area: distance;
  font-size: 18.5px;
}

.loc.loc_distance::after {
  content: ' miles';
  font-size: 0.55em;
}

.loc.loc_name {
  grid-area: name;
  font-size: 16.3px;
  font-weight: 500;
}

.loc.loc_address {
  grid-area: address;
  font-size: 11.5px;
  font-weight: 700;
}

.loc_ml .more_locations,
.loc_ml .ml_back {
  color: var(--tertiary);
  font-weight: 600;
}

.loc_ml .more_locations {
  grid-area: more;
  justify-self: self-end;
  font-size: 8px;
}

.loc_ml .more_locations span {
  display: none;
}

.loc_ml .more_locations::after {
  content: 'VIEW MORE LOCATIONS >';
}

.loc_ml .ml_back {
  font-size: 10px;
}

.loc_ml .ml_back:before {
  content: '< BACK';
}

/* disabled */
.locator_slide_prev,
.locator_slide_next,
.gmnoprint.gm-style-mtc,
.gm-style .gm-style-iw-t,
button.gm-control-active.gm-fullscreen-control,
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom,
.cbl button.loc_search_button span,
.loc:not(.loc_distance, .loc_name, .loc_address) {
  display: none;
}
