/* =================
	fonts
   ================= */
@font-face {
	font-family: 'Montserrat';
	src: url('https://am.contobox.com/cbdata/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		url('https://am.contobox.com/cbdata/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://am.contobox.com/cbdata/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
		url('https://am.contobox.com/cbdata/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* ================
	general
   ================ */
#panel {
	--primary: #5e123b;

	--cbl-background: var(--primary);
	--nav-bar-color: #fff;
	--tab-names-color: #fff;
	--menu-icon-color: #fff;

	--sec-cta-bg: #fff;
	--sec-cta-color: var(--primary);
	--sec-cta-hover-bg: var(--primary);
	--sec-cta-hover-color: #fff;

	--tab-button-bg: #fff;
	--tab-button-color: var(--primary);
	--tab-button-current-bg: var(--primary);
	--tab-button-current-color: #fff;
	--tab-button-hover-bg: var(--primary);
	--tab-button-hover-color: #fff;
}

#panel {
	font-family: 'Montserrat', sans-serif;
	user-select: none;
}

/*
	links
   ================ */
.custom-links a.custom-link.main-cta {
	background: url(images/logo.png) center no-repeat;
	background-size: contain;
	transition: all 0.2s;
}

.custom-links a.custom-link.main-cta:hover {
	transform: scale(1.03);
}

a.custom-link.sec-cta {
	display: grid;
	align-items: center;
	line-height: 1;
	border-radius: 7px;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s;
	z-index: 9;
}

a.custom-link.sec-cta:hover {
	background-color: var(--sec-cta-hover-bg);
	color: var(--sec-cta-hover-color);
}

/* ==================
	controls
   ================== */
div#tab_names>div {
	font-size: 1em;
}

.tab-button-content {
	border-radius: 7px;
	padding: 0.75em 1em;
}

/* ================
	content
   ================ */
div.cbl_card[data-card-pos] {
	z-index: 9 !important;
}

/*
	Video tab
   ================= */
.video_tab-component .cbl_card_content {
	--cbl-card-content-bg: #000;
}

/*
	Gallery tab
   ================= */
.gl-slide-image {
	background-size: cover !important;
	background-position: center !important;
}

/*
	Locator tab (slider)
   ================= */
.cbl .locator {
	gap: 0;
}

.locator_slide_holder {
	background-color: #fff;
}

/* form */
.cbl form.locator_form {
	--search-button-width: auto;
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.cbl input.loc_search_text,
.cbl button.loc_search_button {
	border: none;
}

.cbl input.loc_search_text {
	width: calc(100% - var(--search-button-width));
	background-color: transparent;
	padding: 0 0.5em;
	box-sizing: border-box;
}

.cbl button.loc_search_button {
	width: var(--search-button-width);
	background: url(images/search-icon.png) center no-repeat;
	background-size: 50%;
}

/* loc inner */
.loc_inner {
	display: grid;
	height: 100%;
	grid-template-areas: 'distance' 'name' 'address';
	align-content: center;
	line-height: 1;
}

.loc.loc_distance {
	display: block;
	grid-area: distance;
	font-weight: 700;
}

.loc.loc_distance::after {
	content: ' km';
	font-size: 0.65em;
}

.loc.loc_name {
	grid-area: name;
	font-weight: 700;
}

.loc.loc_address {
	grid-area: address;
}

/* arrows */
.locator_slide_prev,
.locator_slide_next {
	background: url(images/locator-arrow.png) center no-repeat;
	background-size: contain;
	background-origin: content-box;
	box-sizing: border-box;
	z-index: 1;
}

.locator_slide_prev {
	transform: rotate(180deg);
}

/* disabled */
.gmnoprint.gm-style-mtc,
.gm-style .gm-style-iw-t,
button.gm-control-active.gm-fullscreen-control,
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom,
.cbl button.loc_search_button span,
.loc:not(.loc_distance, .loc_name, .loc_address) {
	display: none;
}

/*
	Locator tab (more locations)
   ================= */
.cbl .locator {
	gap: 0;
}

.locator_map {
	grid-area: loc_map;
}

.locator_slide_holder {
	inset: 0 !important;
}

/* form */
.cbl form.locator_form {
	--search-button-width: auto;
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.cbl input.loc_search_text,
.cbl button.loc_search_button {
	border: none;
}

.cbl input.loc_search_text {
	width: calc(100% - var(--search-button-width));
	justify-self: end;
	background-color: transparent;
	padding: 0 0.5em;
	box-sizing: border-box;
}

.cbl button.loc_search_button {
	width: var(--search-button-width);
	justify-self: start;
	background: url(images/search-icon.png) center no-repeat;
	background-size: 50%;
}

/* loc inner */
.loc_inner {
	display: grid;
	height: 100%;
	grid-template-areas:
		'distance'
		'name'
		'address';
	grid-area: loc_inner;
	line-height: 1;
	box-sizing: border-box;
}

.locator_list .loc_inner {
	grid-template-areas:
		'name'
		'address';
}

.locator_slider .loc.loc_distance {
	display: block;
	grid-area: distance;
}

.loc.loc_distance::after {
	content: ' miles';
	font-size: 0.55em;
}

.loc.loc_name {
	grid-area: name;
	font-weight: 500;
}

.loc.loc_address {
	grid-area: address;
	font-weight: 700;
}

.loc_ml .more_locations,
.loc_ml .ml_back {
	color: var(--tertiary);
	font-weight: 600;
}

.loc_ml .more_locations {
	grid-area: more;
}

.loc_ml .more_locations span {
	display: none;
}

.loc_ml .more_locations::after {
	content: 'VIEW MORE LOCATIONS >';
}

.loc_ml .ml_back:before {
	content: '< BACK';
}

/* disabled */
.locator_slide_prev,
.locator_slide_next,
.gmnoprint.gm-style-mtc,
.gm-style .gm-style-iw-t,
button.gm-control-active.gm-fullscreen-control,
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom,
.cbl button.loc_search_button span,
.loc:not(.loc_distance, .loc_name, .loc_address) {
	display: none;
}