/* ================
	general
   ================ */
#panel {
    --cbl-background: url(images/300x600_ib_bg.jpg) 0 0 no-repeat;
    --cbl-menu-background: url(images/300x600_ib_menu_bg.jpg) 0 0 no-repeat;
}

/*
	links
   ================ */
.custom-links a.custom-link.main-cta {
    top: 10px;
    width: 92px;
    height: 47px;
}

a.custom-link.sec-cta {
    bottom: 18px;
    width: 210px;
    height: 37px;
    font-size: 15px;
}

/* ================	
	controls
   ================ */
[data-rd='lr'] div#nav_bar {
    bottom: 75px;
}

div#tab_names {
    top: 70px;
    height: 25px;
    font-size: 15px;
}

ul.layout-tab-holder {
    padding: 0 4.5rem;
}

.tab-button-content {
    font-size: 15px;
}

/* ================
	content
   ================ */
.card_sliding[data-rd='lr'] div.cbl_card {
    inset: 102px 20px 98px 20px;
}

/*
	Video tab
   ================= */

/*
	Locator tab (slider)
   ================= */
.cbl {
    .locator {
        grid-template-rows: 198px 1fr;
    }

    .locator_slide_holder {
        inset: 0 20px;
    }

    /* form */
    form.locator_form {
        --search-button-width: 45px;
        top: 10px;
        width: 240px;
        height: 33px;
    }
}

/* loc inner */
.loc_inner {
    gap: 8px;
    padding: 0 10px;
}

.loc.loc_distance {
    font-size: 28px;
}

.loc.loc_name {
    font-size: 17px;
}

.loc.loc_address {
    font-size: 16px;
}

/* arrows */
.locator_slide_prev,
.locator_slide_next {
    top: calc(50% - 50px / 2);
    width: 20px;
    height: 50px;
    padding: 5px;
}

/*
	Locator tab (more locations)
   ================= */
.cbl {
    .locator {
        grid-template-areas: 'loc_map' 'loc_inner' 'more';
        grid-template-rows: 200px 1fr max-content;
    }

    /* form */
    form.locator_form {
        --search-button-width: 30px;
        top: 10px;
        width: 228px;
        height: 30px;
        border-radius: 10px;
    }
}

/* loc inner */
.loc_inner {
    align-content: center;
    gap: 5px;
}

.loc.loc_distance {
    font-size: 18.5px;
}

.loc.loc_name {
    font-size: 16.3px;
}

.loc.loc_address {
    font-size: 11.5px;
}

.loc_ml {
    .more_locations {
        justify-self: self-end;
        font-size: 8px;
    }

    .ml_back {
        font-size: 10px;
    }
}
