/* ================
	general
   ================ */
#panel {
    --cbl-background: url(images/970x250_ib_bg.jpg) 0 0 no-repeat;
    --cbl-menu-background: url(images/970x250_ib_menu_bg.jpg) 0 0 no-repeat;
}

/*
	links
   ================ */
.custom-links a.custom-link.main-cta {
    top: 14px;
    left: 27px;
    width: 137px;
    height: 70px;
}

a.custom-link.sec-cta {
    right: 17px;
    width: 160px;
    height: 50px;
    font-size: 15px;
}

/* ================
	controls
   ================ */
div#tab_names {
    font-size: 16px;
}

.tab-button-content {
    font-size: 19px;
}

/* ================
	content
   ================ */
.card_sliding[data-rd='tb'] div.cbl_card {
    inset: 18px 235px 18px 235px;
}

/*
	Video tab
   ================= */

/*
	Locator tab (slider)
   ================= */
.cbl {
    .locator {
        grid-template-columns: 250px 1fr;
    }

    .locator_slide_holder {
        inset: 0 20px;
    }

    /* form */
    form.locator_form {
        --search-button-width: 35px;
        top: 15px;
        left: 15px;
        width: 220px;
        height: 34px;
    }
}

/* loc inner */
.loc_inner {
    gap: 5px;
    padding: 0 10px;
}

.loc.loc_distance {
    font-size: 25px;
}

.loc.loc_name {
    font-size: 20px;
}

.loc.loc_address {
    font-size: 20px;
}

/* arrows */
.locator_slide_prev,
.locator_slide_next {
    top: calc(50% - 50px / 2);
    width: 20px;
    height: 50px;
    padding: 5px;
}

/*
	Locator tab (more locations)
   ================= */
.cbl {
    .locator {
        grid-template-areas: 'loc_map loc_inner' 'loc_map more';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content;
    }

    /* form */
    form.locator_form {
        --search-button-width: 40px;
        top: 10px;
        left: 10px;
        width: 230px;
        height: 37px;
        border-radius: 10px;
    }
}

/* loc inner */
.loc_inner {
    align-content: start;
    gap: 8px;
    padding: 20px 25px;
}

.loc.loc_distance {
    font-size: 20.8px;
}

.loc.loc_name {
    font-size: 18.35px;
}

.loc.loc_address {
    font-size: 13px;
}

.loc_ml {
    .more_locations {
        justify-self: self-end;
        font-size: 9.5px;
    }

    .ml_back {
        font-size: 11px;
    }
}
